Hi ${userName},<br/><br/> 

Following Recovery claim/s are pending in Supplier's (${supplier}) ${inboxName} inbox. Please take an action:<br/><br/>

Recovery Claim Number: ${emailDetailsForInitialResponse}<br/><br/>

Supplier Details:<br/>

Supplier Name: $supplier <br/>
Supplier Number: $supplierNumber<br/>
Date on which recovery claim has assigned to supplier : $assignedDate<br/>
     

You can sign-in to <a href="${url}">NMHG Warranty System</a> to respond to the claim.<br/><br/>

Thank you.<br/><br/>

Please note that this email is an automated notification. Any reply to this email will not be received. 

